{{ define "html/contact_list.tmpl" }}
<section id="page-{{ .page }}">
  <form>
    <table>
      {{
        range.contacts
      }}
      <tr>
        <td>
          <input type="checkbox" name="selected_ids" value="{{ .Id }}" />
        </td>
        <td>
          <strong>Name:</strong>
        </td>
        <td>
          <span>{{ .Name }}</span>
        </td>
        <td>
          <strong>Email:</strong>
        </td>
        <td>
          <span>{{ .Email }}</span>
        </td>
        <td>
          <span
            class="mx-2"
            hx-get="/contacts/edit/{{ .Id }}"
            hx-target="#contact-details-{{ .Id }}"
            hx-swap="outerHTML"
            >{{ template "edit_svg.tmpl" }}
          </span>
        </td>
        <td>
          <span
            hx-delete="/contacts/delete/{{ .Id }}"
            hx-target="closest tr"
            hx-swap="delete swap:1s"
            hx-confirm="Are you sure you want to delete this contact?"
          >
            {{ template "delete_svg.tmpl" }}
          </span>
        </td>
      </tr>
      {{
        end
      }}
    </table>
    <button
      id="delete_btn"
      hx-post="/contacts/delete"
      hx-confirm="Are you sure you want to delete these contracts"
      hx-target="body"
    >
      Delete Selected
    </button>
  </form>
  <!-- Infinite Scroll -->
  <!-- {{ if .next }}
  <span
    hx-trigger="revealed"
    hx-get="/contacts/all?page={{ .next }}"
    hx-target="#page-{{ .page }}"
    hx-select="section"
    hx-swap="afterend"
  ></span>
  {{ end }} -->
</section>
<!-- Navigation Buttons -->
<footer>
  <nav class="flex justify-start">
    {{ if .prev }}
    <button
      class="btn btn-outline btn-info mx-2"
      hx-get="/contacts/all?page={{ .prev }}"
      hx-target="#contact_list"
    >
      {{ template "prev_arrow_svg.tmpl" }}
    </button>
    {{ end }}
    {{ if .next }}
    <button
      class="btn btn-outline btn-info"
      hx-get="/contacts/all?page={{ .next }}"
      hx-target="#contact_list"
    >
      {{ template "next_arrow_svg.tmpl" }}
    </button>
    {{ end }}
  </nav>
</footer>
{{ end }}
